In [ ]:
import pandas as pd

Task 1

In [ ]:
# 1.1: Creating a DataFrame 
data=pd.DataFrame({
    "Name":["Aman","Saurav","Karan","Shubham","Abhishek",None,"Sameer"],
    "Age":[22,23,None,22,25,24,26],
    "Marks":[85,None,88,90,56,72,None],
    "Subject":["Math","Physics","Math","Chemistry","Math","Physics","Chemistry"]
    })

data

In [ ]:
# 1.2: Check the shape of the dataset
#      Display the data types of the columns
#      Generate a statistical summary(mean/min/max)

print(data.shape,"\n")
print(data.dtypes,"\n")
data.describe()

Task 2

In [ ]:
# 2.1: Create a view showing only the "Name" and "Marks" columns
#      Select students who scored more than 80 marks
#      Select students older than 22 who also scored more than 80 marks
#      Count how many are enrolled in each subject

data[["Name", "Marks"]]

In [ ]:
data[data["Marks"] > 80]

In [ ]:
data[(data["Age"] >= 22) & (data["Marks"] > 80)]

In [ ]:
data["Subject"].value_counts()

Task 3

In [ ]:
# 3.1: Sort the dataframe by "Marks" in descending order
#      Use a Specific Pandas function to find the top 2 highest scorers(Scholarship Candidates) without socrfing the whole dataframe
#      Identify the student with the lowest marks 
data_sorted = data.sort_values(by="Marks", ascending=False)
top_2_scorers = data_sorted.head(2)
top_2_scorers

In [ ]:
lowest_marks_student = data_sorted.tail(1)
lowest_marks_student

Task 4

In [ ]:
# 4.1: Calculate the total number of missing values in each column
#      Filter and display the rows where "Marks" are missing
#      Create a new dataframe called cleaned df by removing any row that contains even a single missing value
#      Compare the shape of cleaned df vs original df

# count missing values per column
missing_counts = data.isna().sum()
print("Missing values per column:\n", missing_counts)

# rows where Marks is missing
marks_missing = data[data["Marks"].isna()]
marks_missing

# drop any row with at least one NaN
cleaned_df = data.dropna()

print("Original shape:", data.shape)
print("Cleaned shape:", cleaned_df.shape)

cleaned_df